@model IEnumerable<Umbraco.Cms.Core.Models.IMember>

<h4>Prospects</h4>
@foreach (var member in Model) 
{
    <p>
        @(member.GetValue("firstname") + " " + member.GetValue("lastname"))<br />
        Mobile: @member.GetValue("mobile")<br />
    </p>
}
